@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

html, body {
    height: auto;   
    margin:0;
    padding:0;
    background-color: #4F7942;
}

#saveasdraft {
    margin: 25px;
      /* Center vertically and horizontally */
      display: flex;
      justify-content: center;
      align-items: center;
    font-family: 'Fredoka', sans-serif;
    color: white;
}

/* CSS */
.button-53 {
  background-color: ;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #4F7942;
  display: flex;
  font-family:'Fredoka', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

img {
    display: block;
      margin-left: auto;
  margin-right: auto;
    margin-top: 7%;
  width: 25%;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      
      img {
            display: block;
              margin-left: auto;
          margin-right: auto;
            margin-top: 10%;
          width: 75%;
        }
      
      #saveasdraft {
    margin: 25px;
      /* Center vertically and horizontally */
      display: flex;
      justify-content: center;
      align-items: center;
    font-family: 'Fredoka', sans-serif;
          font-size: 30px;
    color: white;
}
      
      input {
          width: 100%;
        }

}
